#button {
  padding: 10px 20px;
  min-width: 10em;
  height: auto;
  font-size: 1.5em;
  display: block;
  margin: 2em auto;
}

#bigfoot {
    width: 20em;
    height: auto;
}

#forest {
    width: 29em;
    height: auto;
    display: none;
}

@media screen and (max-width: 538px) {
    #forest {
      width: 20em;
      height: auto;
    }
  }

body {
    font-family: 'Comfortaa', cursive;
    background-color: beige;
    text-align: center;
}

h1 {
    color: black;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    
}
