.container {        
    text-align: center;
}

button {
  margin-top: 3em;
  padding: 10px 20px;
  min-width: 10em;
  height: auto;
  font-size: 1.5em;
}

#bigfoot {
  width: 20em;
  height: auto;
}

#forest {
  width: 29em;
  height: auto;
  display: none;
}

body {
  font-family: 'Comfortaa', cursive;
  background-color: beige;
  text-align: center;
}

h1 {
  color: black;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
    
}

.result {
    background-color: green;
}
